@import './assets/fonts/gotham.css';

html,
body {
  margin: 0;
  background: #000000;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Gotham', sans-serif;
  color: #ffffff;

  scroll-padding-top: 100px;
}

p {
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(237, 20, 91, 0.4);
  color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(237, 20, 91);
  border-radius: 20px;
}
